<div id="center">
<% singleQuote.forEach(quote => { %>
    <div>
        <h3><%=quote.content%></h3>
        <p style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">- <%=quote.author%></p>    
    </div>
    <h4>Reflections:</h4>
    <% reflection.forEach(reflect => {%>
        <p><%=reflect.content%></p>
    <%})%>
    
    <form method="POST" action="/users/reflect/<%=quote.id%>">
        <label for="content">Create Reflection:</label>
        <input type="text" id="text" name="content">
        <input hidden type="integer" name="quoteId" value="<%=quote.id%>">
        <input hidden type="integer" name="userId" value="<%=userInfo.id%>">
        <button type="submit">Submit</button>
    </form>
<% }) %>
</div>