<h1>✍🏽 REFLECT ✍🏽<h1>
<br>
<div style="display: inline-block; justify-content: center; align-items: center;">
    <div style="width: 60vw">
        <%quotes.forEach(quote => {%>
            <h3>"<%=quote.content%>"</h3>
            <p style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:medium;"><%=quote.author%></p>
        <form method="POST" action="/users/reflect/<%=quote.id%>/?_method=DELETE">
            <a style="margin: 2vw" class="btn btn-dark btn-sm" href="/users/reflect/<%=quote.id%>">Add Reflection</a>
            <button style="margin: 2vw" class="btn btn-dark btn-sm" type="submit">Delete Quote</button>
        </form>
            
        <h3 style="text-decoration:underline">Reflection(s):</h3>
            <% reflections.filter(reflection => { %>
                <% if(reflection.quoteId == quote.id){ %>
                <p style="font-size:x-large; "><%=reflection.content%></p>
        <form method="POST" action="/users/reflect/edit/<%=reflection.id%>/?_method=DELETE">
            <a style="margin: 2vw" class="btn btn-dark btn-sm" href="/users/reflect/edit/<%=reflection.id%>">Edit Reflection</a>
            <button style="margin: 2vw" class="btn btn-dark btn-sm" type="submit">Delete Reflection</button>
        </form>
            <%}})%>
        <hr>
        <% }) %>   
    </div>
    <a class="btn btn-dark" href="/users/intention">➡ Create an Intention</a>
</div>