<h1>☁️ REFLECT ✍🏽<h1>
    <%quotes.forEach(quote => {%>
    <div style="display: flex-wrap">
        <div>
        <h3>"<%=quote.content%>"</h3>
        <p style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:medium;">-<%=quote.author%></p>
    </div> 
    <div>
        <form method="POST" action="/users/reflect/<%=quote.id%>/?_method=DELETE">
        
        <h3>Reflection:</h3>
        <% reflections.filter(reflection => { %>
            <% if(reflection.quoteId == quote.id){ %>
                <p style="font-size:x-large; "><%=reflection.content%></p>
    </div>
                <button class="btn btn-secondary btn-sm"><a href="/users/reflect/edit/<%=reflection.id%>">Edit Reflection</a></button>
                
        <%}})%>
        <button class="btn btn-secondary btn-sm"><a href="/users/reflect/<%=quote.id%>">Add Reflection</a></button>
        <button class="btn btn-secondary btn-sm" type="submit">Delete Quote</button>
        </form>
   <hr>
<% }) %>
</div>