<h2>Welcome to your profile, <%= user.username %>!</h2>
<div class="boxy">
<p>Thank you for joining the WNFB Family. Take the time to just "ZEN OUT". ZENing OUT is a spiritual practice where you tune into yourself as opposed to the outside world. <a href="/users/meditate">Meditate</a> on quotes that resonate with you. <a href="/users/reflect">Reflect</a> on the quotes you saved. Create an <a href="/users/intention">Intention</a> on a virtual vision board.</p>
    <p>Today's Date: <%=horoscope.current_date%></p>
    <p>Daily Horoscope: <%=horoscope.description%></p>
    <p>Compatibility: <%=horoscope.compatibility%></p>
    <p>Your Lucky Number: <%=horoscope.lucky_number%></p>
    <p>Your Lucky Time: <%=horoscope.lucky_time%></p>
    <p>Sign:<%=sign%></p>
</div>