<h1>Welcome to your WNFB profile,</h1> 
<h1><%=sign%> <%= user.username %>!</h1>
<div style="display: flex;
justify-content: center;
align-items: center;">
<div id="profile" class="boxy">
    <div style="width: 25vw; margin: 5vw;">
        <p style="font-size:large"><%=horoscope.current_date%></p>
        <p style="font-size:large">Daily Horoscope: <%=horoscope.description%></p>
        <p style="font-size:large">Daily Compatibility: <%=horoscope.compatibility%></p>
        <p style="font-size:large">Daily Lucky Number: <%=horoscope.lucky_number%></p>
        <p style="font-size:large">Daily Lucky Time: <%=horoscope.lucky_time%></p>
    </div> 

    <div style="background-image: url(/public/media/Wrapper.png); background-repeat: none; background-size: cover; width:46.5vw">
        <p style="font-size:x-large;">Thank you for joining the WNFB Family.</p>
        <br>
        <br>
        <div>
        <p style="font-size:large"><a href="/users/meditate">Meditate</a> on quotes that resonate with you.</p>
        <p style="font-size:large">Allocate time to <a href="/users/reflect">Reflect</a> on your quotes.</p>
        <p style="font-size:large">Create an <a href="/users/intention">Intention</a> on a virtual vision board.</p>
        <br>
        <br>
        <br>
        <br>
    </div>
    </div>
</div>
</div>