<h1>Welcome to your WNFB profile, <%=sign%>-<%= user.username %>!</h1>
<div id="profile">
    <div style="width: 30vw">
        <p><%=horoscope.current_date%></p>
        <p>Daily Horoscope: <%=horoscope.description%></p>
        <p>Daily Compatibility: <%=horoscope.compatibility%></p>
        <p>Daily Lucky Number: <%=horoscope.lucky_number%></p>
        <p>Daily Lucky Time: <%=horoscope.lucky_time%></p>
    </div> 

<div style="margin-top: 7vh">
<p>Thank you for joining the WNFB Family.</p>
<p><a href="/users/meditate">Meditate</a> on quotes that resonate with you.</p>
<p><a href="/users/reflect">Reflect</a> on a saved quote.</p>
<p>Create an <a href="/users/intention">Intention</a> on a virtual vision board.</p>
</div>
</div>